@import  'vars.scss'; 
 
.content{
    margin-top: 77px;
}
.arrow{
    position: absolute;
    top: 0;
    right: 0;
    height: 20%;
    transition: .2s;
    z-index: 1;
    cursor: pointer;
    &:hover{
        transform: scale(1.5);
    }
}
.discription{
    position: absolute;
    left: 30px;
    bottom: 30px;
    font-size: 40px;    
    span{
        background:#000;
        
    }
    .genre{
        color: #00FBEC;
        margin-bottom: 15px;
        font-size: 16px;
        padding: 0 20px;
        text-align: center;
        
    }
    .title-1{
        font-size: 30px;
    }
    .title-2{
        margin: 0;
        font-size: 40px;
        height: 10px;
        padding-right: 30px;

        
    }
}
.stripe{
    width: 103%;
    display: flex;
    white-space: nowrap;
    margin-top: 30px;
    background-color: #00FBEC;
    border: 1px solid black;
    border-left: 0;
}

.news{
    background: #000;
    font-size: 14px;
    padding: 20px 0 20px 10px;
    
    .hot-news{
        font-size: 2rem;
        color: #00FBEC;
    }
    .update{
        display: flex;
        color: #FFF732;
        text-decoration: underline #FFF732;
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 10px;
        &::after{
            content: "";
            display: block;
            margin-left: 10px;
            background: url(../images/ic_refresh.png);
            height: 24px;
            width: 24px;
            transition: .5s;
        }
    &:hover::after{
        transform: rotate(180deg);
    }
        
    
    }
}
.remember{
    width: 240px;
    margin: 20% 0;

}


@media (max-width:500px ) {
    .discription{
        
        font-size: 25px;    


        .genre{

            font-size: 1rem;
        }
        .title-1{
            font-size: 1.2rem;
        }
        .title-2{
            font-size: 1.5rem;
            
        }
    }
    
}