.best-article {
    font-family: "Play-bold";
    font-size: 56px;
}

.best-article-text {
    font-family: "Montserrat-bold";
}

.best-article-title {
    font-family: "Play-regular";
    font-size: 80px;
    line-height: 72px;
}

.best-article-text-2 {
    font-family: "Montserrat-medium";
    color: rgba(255, 255, 255, 0.596);
}

.style {
    font-family: "Montherrat-bold";
    font-size: 28px;
}

.video_text {
    font-size: 32px;
    font-family: "Play-bold";
}

.show-article {
    background-color: #FFF732;
    cursor: pointer;
    font-family: "Play-regular";
    font-size: 24px;
    margin-left: auto;
    padding: 10px 25px;
    display: block;
}

.video_text {
    font-size: 32px;
    font-family: "Play-bold";
}

.show-podcasts {
    text-align: center;
    height: 48px;
    font-size: 24px;
    background-color: #FFF732;
    color: black;
    padding: 5px 10px 5px 10px;
    font-family: "Play-regular";
}

.podcast_title-1 {
    font-family: "Play-bold";
    font-size: 48px;
}

.podcast_title-2 {
    color: rgba(255, 255, 255, 0.7);
    font-family: "Montserrat-medium";
}

.author {
    font-family: "Montserrat-bold";
    color: white;
}

.podcast_text {
    margin-top: 15px;
    font-family: "Montserrat-medium";
    color: rgba(255, 255, 255, 0.7);
    line-height: 120%;
}

.scale:hover {
    transition: 0.2s;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}

.test_link {
    color: black;
    letter-spacing: 3px;
    font-weight: bold;
    font-family: "Play-bold";
    font-size: 24px;
    line-height: 100%;
}

.test-info {
    opacity: 0.4;
}

.test-text {
    font-family: "Montserrat-medium";
    font-size: 26px;
    line-height: 120%;
}

.test-title {
    font: 36px "Play-bold";
}

.tests {
    padding: 50px 0 50px 0;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.tests::-webkit-scrollbar {
    width: 24px;
    height: 5px;
    background-color: rgba(0, 0, 0, 0.171);
}

.tests::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px black;
}