<div class="container text-black my-5 articles">
    <div class="d-flex justify-content-between ">
        <h2 class="text-uppercase title_1">
            Статьи
        </h2>
        <a href="#" class="show-all bg-black px-5 ">
            Смотреть все
        </a>
    </div>

    <div class="row ">




        <div class="col-xxl-4 my-5 col-xl-6">
            
            <div class="row">


                <div class="col-sm-6 p-0">
                    <img class=" article-img   h-auto  " src="assets/images/article-1.jpg" alt="">
                </div>

                <div class="col-sm-5 p-0">
                    <div class="genre text-center bg-black px-3">
                        Музыка  
                    </div>
                    <div class="font">
                        Нигде не вправе осуждать ласковый перезвон вертикали
                    </div>
                    <br>
                    <div class=" article-text">
                        Разнообразный и богатый опыт говорит нам, что экономическая повестка сегодняшнего дня позволяет оценить значение экономической
                    </div>
                    <div class="d-flex justify-content-between">
                        <span class="date">
                            25 Мая
                        </span>
                        <span class="time">
                            20:25:36
                        </span>
                    </div>
                </div>

            
            </div>
        </div>


        <div class="col-xxl-4 my-5 col-xl-6">
            
            <div class="row">


                <div class="col-sm-6 p-0">
                    <img class=" article-img   h-auto  " src="assets/images/article-1.jpg" alt="">
                </div>

                <div class="col-sm-5 p-0">
                    <div class="genre bg-black text-center px-3">
                        Музыка  
                    </div>
                    <div class="font ">
                        Нигде не вправе осуждать ласковый перезвон вертикали
                    </div>
                    <br>
                    <div class=" article-text">
                        Разнообразный и богатый опыт говорит нам, что экономическая повестка сегодняшнего дня позволяет оценить значение экономической
                    </div>
                    <div class="d-flex  justify-content-between">
                        <span class="date">
                            25 Мая
                        </span>
                        <span class="time">
                            20:25:36
                        </span>
                    </div>
                </div>

            
            </div>
        </div>



        <div class="col-xxl-4 my-5 col-xl-6">
            
            <div class="row">


                <div class="col-sm-6 p-0">
                    <img class=" article-img   h-auto  " src="assets/images/article-1.jpg" alt="">
                </div>

                <div class="col-sm-5 p-0">
                    <div class="genre bg-black px-3 text-center">
                        Музыка  
                    </div>
                    <div class="font">
                        Нигде не вправе осуждать ласковый перезвон вертикали
                    </div>
                    <br>
                    <div class=" article-text">
                        Разнообразный и богатый опыт говорит нам, что экономическая повестка сегодняшнего дня позволяет оценить значение экономической
                    </div>
                    <div class="d-flex justify-content-between">
                        <span class="date">
                            25 Мая
                        </span>
                        <span class="time">
                            20:25:36
                        </span>
                    </div>
                </div>

            
            </div>
        </div>




        <div class="col-xxl-4 my-5 col-xl-6">
            
            <div class="row">


                <div class="col-sm-6 p-0">
                    <img class=" article-img   h-auto  " src="assets/images/article-1.jpg" alt="">
                </div>

                <div class="col-sm-5 p-0">
                    <div class="genre px-3 bg-black text-center">
                        Музыка  
                    </div>
                    <div class="font">
                        Нигде не вправе осуждать ласковый перезвон вертикали
                    </div>
                    <br>
                    <div class=" article-text">
                        Разнообразный и богатый опыт говорит нам, что экономическая повестка сегодняшнего дня позволяет оценить значение экономической
                    </div>
                    <div class="d-flex justify-content-between">
                        <span class="date">
                            25 Мая
                        </span>
                        <span class="time">
                            20:25:36
                        </span>
                    </div>
                </div>

            
            </div>
        </div>




        <div class="col-xxl-4 my-5 col-xl-6">
            
            <div class="row">


                <div class="col-sm-6 p-0">
                    <img class=" article-img   h-auto  " src="assets/images/article-1.jpg" alt="">
                </div>

                <div class="col-sm-5 p-0">
                    <div class="genre px-3 bg-black text-center">
                        Музыка  
                    </div>
                    <div class="font">
                        Нигде не вправе осуждать ласковый перезвон вертикали
                    </div>
                    <br>
                    <div class=" article-text">
                        Разнообразный и богатый опыт говорит нам, что экономическая повестка сегодняшнего дня позволяет оценить значение экономической
                    </div>
                    <div class="d-flex justify-content-between">
                        <span class="date">
                            25 Мая
                        </span>
                        <span class="time">
                            20:25:36
                        </span>
                    </div>
                </div>

            
            </div>
        </div>



        <div class="col-xxl-4 my-5 col-xl-6">
            
            <div class="row">


                <div class="col-sm-6 p-0">
                    <img class=" article-img   h-auto  " src="assets/images/article-1.jpg" alt="">
                </div>

                <div class="col-sm-5 p-0">
                    <div class="genre px-3 bg-black text-center">
                        Музыка  
                    </div>
                    <div class="font">
                        Нигде не вправе осуждать ласковый перезвон вертикали
                    </div>
                    <br>
                    <div class=" article-text">
                        Разнообразный и богатый опыт говорит нам, что экономическая повестка сегодняшнего дня позволяет оценить значение экономической
                    </div>
                    <div class="d-flex justify-content-between">
                        <span class="date">
                            25 Мая
                        </span>
                        <span class="time">
                            20:25:36
                        </span>
                    </div>
                </div>

            
            </div>
        </div>


        


        

        

        





    </div>

</div>
</div>