<footer>




    <div class="row text-black bg-black d-flex">
        <div class="col-md-2 h-100 overflow-hidden bg-black d-md-block d-none ">
            <div class="h-100 ">
            <div class="footer-main footer-main-shadow">Main post</div>
            <div class="footer-main footer-main-shadow">Main post</div>
            <div class="footer-main footer-main-shadow">Main post</div>
            <div class="text-blue footer-main">Main post</div>
            <div class="footer-main footer-main-shadow">Main post</div>
            <div class="footer-main footer-main-shadow">Main post</div>
            <div class="footer-main footer-main-shadow">Main post</div>
            <div class="footer-main footer-main-shadow">Main post</div>
         
        </div>
        </div>
        <div class="col-md-10  bg-blue   p-0">
            <div class="row h-90">
                <div class="col-md-3 sections  border-black order-1 order-md-0">
                    <div class="footer-title">
                        Разделы
                    </div>
                    
                    <div>
                        <a href="#">
                             О проекте
                        </a>
                       
                    </div>
                    
                    <div>
                        <a href="#">
                            Авторы

                        </a>
                    </div>
                    
                    <div>
                        <a href="#">
                            
                            Темы и сюжеты
                        </a>
                    </div>
                    
                    <div>
                        <a href="#">
                            Контакты
                            
                        </a>
                    </div>
                    

                </div>
                <div class="col-md-4 sections  border-black order-1 order-md-0">
                    <div class="footer-title">
                        Политика сайта
                    </div>
              
                    <div>
                        <a href="#">
                            Конфиденциальность
                            
                        </a>
                    </div>
                
                    <div>
                        <a href="">
                            Публичная оферта

                        </a>
                    </div>
                    
                    <div>
                        <a href="">
                            mainpost@gmail.com

                        </a>
                    </div>


                </div>
                <div class="col-md-5 p-0 border-black ">
                    <div class="bg-black  mailing sections">
                        <div class=" mailing-text text-blue">
                            Подписка на Бесплатную рассылку
                        </div>
                  
                        <div class="d-flex   mailing-block ">
                            <input type="text" placeholder="Email" class="mailing-input ">
                            <button type="submit" class="subscribe" >Подписаться</button>

                        </div>
                    </div> 
                    <div class="d-flex  socials sections mr-4 bg-blue  ">
                        <span class="social-text" >Мы в соц. сетях:</span>
                        <div class="w-50 ic-container  d-flex justify-content-around">
                            <img class="icon" src="assets/images/ic_telegram.png" alt="">
                            <img class="icon" src="assets/images/ic_instagrm.png" alt="">
                            <img class="icon" src="assets/images/ic_facebook.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-md-row flex-column justify-content-between border-black h-10 p-4 ">
                <span>
                    © 2021 - 2022. Новостной сайт «Main post». Все права защищены
                </span>
                <span>
                    Разработано командой «UX IT»
                </span>
            </div>
        </div>


    </div>






</footer>