<header >
    
    <nav class="navbar navbar-expand-xl    navbar-light   ">
            <div class="container  ">
            <a class="navbar-brand mx-auto mr-auto mr-xl-5" href="#"><img src="../assets/images/logo.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse justify-content-between navbar-collapse" id="navbarNav">
              <ul class="navbar-nav w-50 d-flex justify-content-between ">
                <li class="nav-item ">
                  <a class="nav-link" href="#">Новости <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Статьи</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Подкасты</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="#">Тесты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">Видео</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link  " href="#">O’zbekcha</a>
                  </li>
                </ul>
                <ul class="navbar-nav p-social">
                <li class='nav-item social  w-100 '>
                    
             <a href="" class="nav-link">
                      <img src="../assets/images/ic_telegram.png" alt=""></a>
                      
                  <a href="" class="nav-link">
                      <img src="../assets/images/ic_facebook.png" alt=""></a>
                  <a href="" class="nav-link">
                      <img src="../assets/images/ic_instagrm.png" alt=""></a>
                  <a href="" class="nav-link">
                      <img src="../assets/images/ic_youTube.png" alt=""></a>
                  <a href="" class="nav-link">
                      <img src="../assets/images/ic_vkontakte.png" alt=""></a>
                  <a href="" class="nav-link">
                      <img src="../assets/images/ic_tik-tok.png" alt=""></a>
                  
                </li>
            </ul>
            </div>
        </div>
          </nav>

</header>
