<div class="container mr-top border-b">
    <div class="row">
        <div class="col-md-3">
            <div class="article_links">
                <div><a class="active-link" href="">Все статьи</a></div>
                <div><a href="">Люди</a></div>
                <div><a href="">Развлечения</a></div>
                <div><a href="">Стиль</a></div>
                <div><a href="">Бизнес</a></div>
                <div><a href="">Культура</a></div>
                <div><a href="">Развитие</a></div>
                <div><a href="">Путешествия</a></div>
            </div>
        </div>
        <div class="col-md-9">
            <div>
                <img class="w-100"  src="assets/images/Rectangle 386.png" alt="">

            </div>
            <h1 class="article-title">
                Инцидент не исчерпан: обереги никого не защитили

            </h1>
            <div class="main-article-text">
                Каждый из нас понимает очевидную вещь: начало повседневной работы по
                 формированию позиции однозначно определяет каждого участника как способного принимать 
                 собственные решения касаемо укрепления моральных ценностей. Как принято считать, активно развивающиеся 
                страны третьего мира и по сей день остаются уделом либералов, которые жаждут быть разоблачены.
            </div>
            <div class="read-all">
                Читать всё
            </div>
            {{> choice }}
        </div>
    </div>
</div>


<div class="container  my-5">
    <div class="row">
        <div class="col-md-3">
            <div class="title_1">
                Тесты
            </div>
            <div class="main-article-text my-3">
                Имеется спорная точка зрения, гласящая примерно следующее: акционеры крупнейших
                 компаний неоднозначны и будут описаны максимально подробно.
            </div>
        </div>
        <div class="col-md-9">
            <div class="row flex-nowrap scroll d-flex ">
                <div class="col-md-8">
                    <img class="w-100" src="assets/images/Rectangle 469.png" alt="">
                    <div class="article-title">
                        Органический трафик попахивает безумием        
                    </div>
                    <div class="main-article-text">
                        С другой стороны, базовый вектор развития создаёт предпосылки для 
                        распределения внутренних резервов и ресурсов.
                    </div>
                    <div class="d-flex opacity-25 mt-3">
                        <img src="assets/images/ic_eye.svg" alt="">
                        <div class="text-black ml-2 ">
                            1,235 
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <img class="w-100" src="assets/images/Rectangle 469.png" alt="">
                    <div class="article-title">
                        Органический трафик попахивает безумием        
                    </div>
                    <div class="main-article-text my-3">
                        С другой стороны, базовый вектор развития создаёт предпосылки для 
                        распределения внутренних резервов и ресурсов.
                    </div>
                    <div class="d-flex opacity-25 mt-3">
                        <img src="assets/images/ic_eye.svg" alt="">
                        <div class="text-black ml-2 ">
                            1,235 
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <img class="w-100" src="assets/images/Rectangle 469.png" alt="">
                    <div class="article-title">
                        Органический трафик попахивает безумием        
                    </div>
                    <div class="main-article-text my-3">
                        С другой стороны, базовый вектор развития создаёт предпосылки для 
                        распределения внутренних резервов и ресурсов.
                    </div>
                    <div class="d-flex opacity-25 mt-3">
                        <img src="assets/images/ic_eye.svg" alt="">
                        <div class="text-black ml-2 ">
                            1,235 
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <img class="w-100" src="assets/images/Rectangle 469.png" alt="">
                    <div class="article-title">
                        Органический трафик попахивает безумием        
                    </div>
                    <div class="main-article-text my-3">
                        С другой стороны, базовый вектор развития создаёт предпосылки для 
                        распределения внутренних резервов и ресурсов.
                    </div>
                    <div class="d-flex opacity-25 my-3">
                        <img src="assets/images/ic_eye.svg" alt="">
                        <div class="text-black ml-2 ">
                            1,235 
                        </div>
                    </div>
                </div>

            </div>


        </div>

    </div>
</div>