
<div class="container-fluid bg-black pb-5">

    <div class="container ">
        <div class=" justify-content-between d-lg-flex py-5 ">
            <h2 class="text-uppercase f-size-3 text-center">
                Подкасты
            </h2>
            <div class="show-podcasts ">
                Перейти к подкасту
            </div>
        </div>



        <div class="row">
            <div class="col-xl-5">
                <img class="w-100 h-100" src="assets/images/podcast.jpg" alt="">
            </div>
            <div class="col-xl-7">
               
                <h2 class="podcast_title-1">
                    Бежать
                </h2>
                <span class="podcast_title-2">
                    <strong class="author" > Автор:</strong> Абадихин Игорь & Студия Main post
                </span>
                
                <p class="podcast_text">
                    Это подкаст о мире, где беженцев сегодня больше, чем во времена Второй мировой.
                    И о людях, которые ищут в этом мире пристанище. В каждом эпизоде мы рассказываем историю
                    очередного беглеца. Кто-то сбежал от гражданской войны в Европу. Кто-то — из Европы в Россию.
                    А кто-то уехал из России, потому что не смог обрести здесь дом.
                </p>
                
                <span>
                    Доступно на:
                </span>

                <div class="d-flex mt-2 mb-4 w-25 justify-content-between">
                    <img class="mr-4 scale" src="assets/images/ic-podcast-ios.png" alt="">
                    <img class="mr-4 scale" src="assets/images/ic-spotify.png" alt="">
                    <img class="mr-4 scale" src="assets/images/ic-podcast-android.png" alt="">
                    <img class="mr-4 scale" src="assets/images/ic-yandex.png" alt="">
                </div>
                <span>
                    Эпизоды:
                </span>


                <div>
                    <div class="player">
                        <div class="title">Эпизод I. Архипелаг Бежлаг</div>

                        <div class="song text-dark">Бежать</div>
                        <audio class="audio" src="assets/audio/Teeth - 5 Seconds of Summer.mp3"></audio>
                        <div class="  row ">
                            <div class="btn_play p-1 p-sm-2 col-1"> <img class="img_src" 
                                src="assets/images/play.png" alt=""> </div>
                                <div class="progress-parent col-11">
                                    <div class="progress_container   ">
                                        <div class="progres  "></div>
                                        <div class="mixer"></div>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <span class="current-time">
                                            05:56
                                        </span>
                                        <span class="all-time">
                                            09:13
                                        </span>
                                    </div>
                                </div>

                        </div>
                        <div class="buttons">



                        </div>


                    </div>
                </div>



            </div>


        </div>

    </div>
</div>
