<div class="container-fluid bg-black pb-5">

    <div class="container ">
        <div class="row">
            <div class="col-xxl-3 mt-5">
                <h2 class="best-article display-3">
                    Лучшая статья
                </h2>

                <br>
                <div class="text-grey font ">
                    Лишь акционеры крупнейших компаний являются только методом
                    политического участия и объявлены нарушающими общечеловеческие нормы этики и морали.
                </div>
            </div>
            <div class="col-xxl-4 mt-5 d-flex justify-content-center ">

                <iframe height="551" class="w-100" src="https://www.youtube.com/embed/0J7_qd5sJNs"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>


            </div>
            <div class="col-xxl-5 mt-5">
                <div class="d-flex  justify-content-between ">
                    <span>
                        #стиль
                    </span>
                    <span>
                        2022
                    </span>
                </div>

                <br>
                <h2 class="display-2  ">
                    Нашу победу сопровождал гитарный перебор
                </h2>
                <br>

                <div class="">
                    С другой стороны, существующая теория требует анализа
                    укрепления моральных ценностей. Учитывая ключевые сценарии поведения,
                    понимание сути ресурсосберегающих технологий напрямую зависит от модели развития.
                </div>
                <br>

                <div class="show-article ml-auto w-50 text-center p-2  text-black">
                    Читать статью
                </div>


            </div>
        </div>
    </div>
</div>





<div class="container text-black my-5 articles">
    <div class="d-flex justify-content-between ">
        <h2 class="text-uppercase f-size-3">
            Видео
        </h2>
        <a href="#" class="show-all bg-black py-3 px-5 ">
            Смотреть все
        </a>
    </div>

    <div class="row ">




        <div class="col-xxl-4 my-5 col-xl-6">




            <img class="w-100 " src="../assets/images/video-1.jpg" alt="">

            <br>
            <h2 class="f-size-2">
                Средства индивидуальной защиты оказались бесполезны
            </h2>


        </div>
        <div class="col-xxl-4 my-5 col-xl-6">




            <img class="w-100 " src="../assets/images/video-1.jpg" alt="">

            <br>
            <h2 class="f-size-2">
                Средства индивидуальной защиты оказались бесполезны
            </h2>


        </div>
        <div class="col-xxl-4 my-5 col-xl-6">




            <img class="w-100 " src="../assets/images/video-1.jpg" alt="">

            <br>
            <h2 class="f-size-2">
                Средства индивидуальной защиты оказались бесполезны
            </h2>


        </div>
    </div>
</div>





<div class="container-fluid bg-black pb-5">

    <div class="container ">
        <div class="d-flex justify-content-between py-5 ">
            <h2 class="text-uppercase f-size-3 ">
                Подкасты
            </h2>
            <div class="show-article ml-auto w-25 text-center p-2 py-3  text-black">
                Перейти к подкасту
            </div>
        </div>



        <div class="row">
            <div class="col-xl-5">
                <img src="../assets/images/podcast.jpg" alt="">
            </div>
            <div class="col-xl-7">
                <br>
                <h2 class="display-3">
                    Бежать
                </h2>
                <span class="display-5">
                    Автор: Абадихин Игорь & Студия Main post
                </span>
                <br><br>
                <p>
                    Это подкаст о мире, где беженцев сегодня больше, чем во времена Второй мировой.
                    И о людях, которые ищут в этом мире пристанище. В каждом эпизоде мы рассказываем историю
                    очередного беглеца. Кто-то сбежал от гражданской войны в Европу. Кто-то — из Европы в Россию.
                    А кто-то уехал из России, потому что не смог обрести здесь дом.
                </p>
                <br>
                <span>
                    Доступно на:
                </span>

                <div class="d-flex mt-1 w-25 justify-content-between">
                    <img src="../assets/images/ic-podcast-ios.png" alt="">
                    <img src="../assets/images/ic-spotify.png" alt="">
                    <img src="../assets/images/ic-podcast-android.png" alt="">
                    <img src="../assets/images/ic-yandex.png" alt="">
                </div>
                <span>
                    Эпизоды:
                </span>


                <div>
                    <div class="player">
                        <div class="title">Now Playing</div>

                        <div class="song">Brooklyn and the Bridge</div>
                        <audio src="#"></audio>
                        <div class="progress__container ">
                            <div class="progress"></div>
                        </div>
                        <div class="buttons">
                            <div class="btn play"> <img class="img_src"
                                    src="../assets/images/arrow_right_white_24dp.svg" alt=""> </div>



                        </div>


                    </div>
                </div>



            </div>


        </div>

    </div>
</div>






<div class="container mt-5 text-black">
    <div class="row">

    </div>
    <div class="d-flex px-5 justify-content-between ">
        <h2 class="text-uppercase  f-size-3 text-black">
            Тесты
        </h2>
        <a href="#" class="show-all bg-black px-5 py-3 ">
            Пройти всё
        </a>
    </div>


    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="row">
                <div class="col-6 position-relative">
                    <img  src="../assets/images/ic_arrow.jpg" class="arrow r-1 " alt="">
                    <img src="../assets/images/tests.jpg" class="h-100 w-100" alt="">
                      </div>
                    <div class="col-6">
                        <h2 class="fs-5 lh-1">
                            Есть над чем задуматься: частокол на границе починят!
                        </h2>
                        <br>
                        <span>
                            Вопросов: 16
                        </span>
                        <span>
                            Время прохождения: 3 мин.
                        </span>
                        <br>
                        <p>
                            Как принято считать, представители современных социальных резервов формируют глобальную 
                            экономическую сеть и при этом -  заблокированы в рамках своих собственных рациональных ограничений.
                        </p>
                        <br>
                        <a class="test_link" href="#">
                            Пройти тест
                        </a>
                    </div>
              

            </div>

        </div>
        <div class="col-1"></div>

    </div>



</div>