<div class="container-fluid bg-black pb-5">

    <div class="container py-4">
        <div class="row ">
            <div class="col-xxl-3 mt-5">
                <h2 class="best-article ">
                    Лучшая статья
                </h2>

                
                <div class="text-grey best-article-text ">
                    Лишь акционеры крупнейших компаний являются только методом
                    политического участия и объявлены нарушающими общечеловеческие нормы этики и морали.
                </div>
            </div>
            <div class="col-xxl-4 mt-5 d-flex justify-content-center ">

                <iframe height="551" class="w-100" src="https://www.youtube.com/embed/0J7_qd5sJNs"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>


            </div>
            <div class="col-xxl-5 mt-5">
                <div class="d-flex style  justify-content-between ">
                    <span class="leter-spacing" >
                        #стиль
                    </span>
                    <span>
                        2022
                    </span>
                </div>

                <br>
                <h2 class="best-article-title ">
                    Нашу победу сопровождал гитарный перебор
                </h2>
                <br>

                <div class="best-article-text-2">
                    С другой стороны, существующая теория требует анализа
                    укрепления моральных ценностей. Учитывая ключевые сценарии поведения,
                    понимание сути ресурсосберегающих технологий напрямую зависит от модели развития.
                </div>
                <br>

                <div class="show-article     text-black">
                    Читать статью
                </div>


            </div>
        </div>
    </div>
</div>





<div class="container text-black my-5 articles">
    <div class="d-flex justify-content-between ">
        <h2 class="text-uppercase title_1">
            Видео
        </h2>
        <a href="#" class="show-all bg-black   px-lg-5 px-2 text-nowrap h-50 my-auto ">
            Смотреть все
        </a>
    </div>

    <div class="row ">




        <div class="col-xxl-4 my-5 col-xl-6">




            <img class="w-100 " src="assets/images/video-1.jpg" alt="">

            <br>
            <h2 class="video_text">
                Средства индивидуальной защиты оказались бесполезны
            </h2>


        </div>
        <div class="col-xxl-4 my-5 col-xl-6">




            <img class="w-100 " src="assets/images/video-1.jpg" alt="">

            <br>
            <h2 class="video_text">
                Средства индивидуальной защиты оказались бесполезны
            </h2>


        </div>
        <div class="col-xxl-4 my-5 col-xl-6">




            <img class="w-100 " src="assets/images/video-1.jpg" alt="">

            <br>
            <h2 class="video_text">
                Средства индивидуальной защиты оказались бесполезны
            </h2>


        </div>
    </div>
</div>




{{> podcasts }}





<div class="container mt-5 text-black">
    <div class="row">

    </div>
    <div class="d-flex  justify-content-between ">
        <h2 class="text-uppercase title_1  text-black">
            Тесты
        </h2>
        <a href="#" class="show-all bg-black px-lg-5 px-2 text-nowrap h-50 my-auto">
            Пройти всё
            
        </a>
    </div>


    <div class="row tests">

        <div class="col-12">
            <div class="row">
                <div class="col-lg-6 position-relative mb-5 mb-lg-0">
                    <img  src="assets/images/ic_arrow.jpg" class="arrow r-1 " alt="">
                    <img src="assets/images/tests.jpg" class="h-100 w-100" alt="">
                      </div>
                    <div class="col-lg-6">
                        <h2 class="test-title">
                            Есть над чем задуматься: частокол на границе починят!
                        </h2>
                        <div class="my-3 test-info">
                        <span class="">
                            Вопросов: 16
                        </span>
                        <span class="ml-4">
                            Время прохождения: 3 мин.
                        </span>
                        </div>
                        <p class="test-text">
                            Как принято считать, представители современных социальных резервов формируют глобальную 
                            экономическую сеть и при этом -  заблокированы в рамках своих собственных рациональных ограничений.
                        </p>
   
                        <a class="test_link" href="#">
                            Пройти тест
                        </a>
                        
                    </div>
              

            </div>

        </div>



        <div class="col-12">
            <div class="row">
                <div class="col-lg-6 position-relative mb-5 mb-lg-0">
                    <img  src="assets/images/ic_arrow.jpg" class="arrow r-1 " alt="">
                    <img src="assets/images/tests.jpg" class="h-100 w-100" alt="">
                      </div>
                    <div class="col-lg-6">
                        <h2 class="test-title">
                            Есть над чем задуматься: частокол на границе починят!
                        </h2>
                        <div class="my-3 test-info">
                        <span class="">
                            Вопросов: 16
                        </span>
                        <span class="ml-4">
                            Время прохождения: 3 мин.
                        </span>
                        </div>
                        <p class="test-text">
                            Как принято считать, представители современных социальных резервов формируют глобальную 
                            экономическую сеть и при этом -  заблокированы в рамках своих собственных рациональных ограничений.
                        </p>
   
                        <a class="test_link" href="#">
                            Пройти тест
                        </a>
                        
                    </div>
              

            </div>

        </div>




        <div class="col-12">
            <div class="row">
                <div class="col-lg-6 position-relative mb-5 mb-lg-0">
                    <img  src="assets/images/ic_arrow.jpg" class="arrow r-1 " alt="">
                    <img src="assets/images/tests.jpg" class="h-100 w-100" alt="">
                      </div>
                    <div class="col-lg-6">
                        <h2 class="test-title">
                            Есть над чем задуматься: частокол на границе починят!
                        </h2>
                        <div class="my-3 test-info">
                        <span class="">
                            Вопросов: 16
                        </span>
                        <span class="ml-4">
                            Время прохождения: 3 мин.
                        </span>
                        </div>
                        <p class="test-text">
                            Как принято считать, представители современных социальных резервов формируют глобальную 
                            экономическую сеть и при этом -  заблокированы в рамках своих собственных рациональных ограничений.
                        </p>
   
                        <a class="test_link" href="#">
                            Пройти тест
                        </a>
                        
                    </div>
              

            </div>

        </div>




        <div class="col-12">
            <div class="row">
                <div class="col-lg-6 position-relative mb-5 mb-lg-0">
                    <img  src="assets/images/ic_arrow.jpg" class="arrow r-1 " alt="">
                    <img src="assets/images/tests.jpg" class="h-100 w-100" alt="">
                      </div>
                    <div class="col-lg-6">
                        <h2 class="test-title">
                            Есть над чем задуматься: частокол на границе починят!
                        </h2>
                        <div class="my-3 test-info">
                        <span class="">
                            Вопросов: 16
                        </span>
                        <span class="ml-4">
                            Время прохождения: 3 мин.
                        </span>
                        </div>
                        <p class="test-text">
                            Как принято считать, представители современных социальных резервов формируют глобальную 
                            экономическую сеть и при этом -  заблокированы в рамках своих собственных рациональных ограничений.
                        </p>
   
                        <a class="test_link" href="#">
                            Пройти тест
                        </a>
                        
                    </div>
              

            </div>

        </div>



        <div class="col-12">
            <div class="row">
                <div class="col-lg-6 position-relative mb-5 mb-lg-0">
                    <img  src="assets/images/ic_arrow.jpg" class="arrow r-1 " alt="">
                    <img src="assets/images/tests.jpg" class="h-100 w-100" alt="">
                      </div>
                    <div class="col-lg-6">
                        <h2 class="test-title">
                            Есть над чем задуматься: частокол на границе починят!
                        </h2>
                        <div class="my-3 test-info">
                        <span class="">
                            Вопросов: 16
                        </span>
                        <span class="ml-4">
                            Время прохождения: 3 мин.
                        </span>
                        </div>
                        <p class="test-text">
                            Как принято считать, представители современных социальных резервов формируют глобальную 
                            экономическую сеть и при этом -  заблокированы в рамках своих собственных рациональных ограничений.
                        </p>
   
                        <a class="test_link" href="#">
                            Пройти тест
                        </a>
                        
                    </div>
              

            </div>

        </div>



        <div class="col-12">
            <div class="row">
                <div class="col-lg-6 position-relative mb-5 mb-lg-0">
                    <img  src="assets/images/ic_arrow.jpg" class="arrow r-1 " alt="">
                    <img src="assets/images/tests.jpg" class="h-100 w-100" alt="">
                      </div>
                    <div class="col-lg-6">
                        <h2 class="test-title">
                            Есть над чем задуматься: частокол на границе починят!
                        </h2>
                        <div class="my-3 test-info">
                        <span class="">
                            Вопросов: 16
                        </span>
                        <span class="ml-4">
                            Время прохождения: 3 мин.
                        </span>
                        </div>
                        <p class="test-text">
                            Как принято считать, представители современных социальных резервов формируют глобальную 
                            экономическую сеть и при этом -  заблокированы в рамках своих собственных рациональных ограничений.
                        </p>
   
                        <a class="test_link" href="#">
                            Пройти тест
                        </a>
                        
                    </div>
              

            </div>

        </div>
        

        
   

    </div>



</div>